
.btn-2 {
    text-decoration: none;
    background: #fff;
    padding: 10px 26px;
    border: 1px solid #a785ce;
    border-radius: 30px;
    color:  #a785ce;
    font-size: 11px;
    box-shadow: var(--shadow-black-100);
    font-weight: 600;
  }
  
  .btn-2:hover{
    background: linear-gradient(90deg, #822bff 10%, #5c66ec  100%);;
    color:  #fff ;
  }
  
  .btn-3{
    text-decoration: none;
    background: linear-gradient(90deg, #822bff 10%, #5c66ec  100%);
    padding: 10px 26px;
    border-radius: 30px;
    color:  #fff;
    font-size: 11px;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
  }
  
  .cardKey{
  
    --background: white;border-radius: 8px;margin-top: 10px ;padding: 15px 15px 15px 20px;box-shadow: var(--shadow-black-100);
  }
  
  .select-card {
    --background: linear-gradient(90deg, #822bff 10%, #5c66ec 100%) !important;
    color: white;
    p{
      color: white ;
      ion-icon {
        color: white !important ;  
      }
    }
  
  }
  
  .select-card p:nth-child(1){
    font-weight: 500 !important;
      }
  
      
  .select-card p:nth-child(2){
    font-weight: 300 !important;
      }
  
      
  .select-card p:nth-child(3){
    color : white !important;
      }


      .builder{
        font-size: 11px;
        padding: 6px 10px;
        border-radius: 10px;
        font-weight: 500;
        background: #29c79f;
        color: #ffffff;
        padding-top: 5px;
      }


      .active {
        color: #9f76cf !important;
      }
      .desabled {
        color: #aaaaaa !important;
      }
    


      .text-badge{
        margin: 0;
          font-size: 28px;
          margin-top: -5px;
          color: #7b7b7b;
      }

      .burned{
        text-decoration: line-through;
      }

      .inactive{
          background: linear-gradient(90deg, #919191 10%, #5c66ec 100%);
      }