<ion-content>
  <!-- 333b68 -->
  <div style="height:100% ;background: linear-gradient(10deg, #1b1e44 10%, #485285  100%);;">
    <div style="color: #000;  margin-bottom: 0;height: 55px;">

      <ion-icon slot="start" name="options"
        style=" font-size: 25px;color: #ffffffef;position: absolute;z-index: 10; padding: 25px;right: 0;">
      </ion-icon>


      <ion-item style="--background: transparent;margin-bottom: 0;padding-top: 12px;" lines="none">
        <ion-title style=" 
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
    font-size: 14px;
    /* font-weight: 600; */
    letter-spacing: 1px;">My NFT Assets</ion-title>
      </ion-item>


      <div style="padding: 25px;padding-bottom: 0;padding-top: 15px;">
        <div>
          <p style="margin: 0;
        font-size: 10px;
        color: rgb(255 255 255 / 32%);
        letter-spacing: 2px;">CURRENT BALANCE</p>
          <p style="margin: 0;font-size: 26px;color: #fff;letter-spacing: 1px;position: relative;">12 POAPS
            <ion-icon name="reload-outline" style="
          color: rgb(255 255 255 / 32%);
          position: absolute;
          right: 50px;
          font-size: 20px;
          top: 7px;"></ion-icon>
            <ion-icon name="search" style="
          color: rgb(255 255 255 / 32%);
          position: absolute;
          right: 10px;
          font-size: 20px;
          top: 7px;"></ion-icon>

          </p>

        </div>


        <p
          style="
          margin-top: 20px;position: relative;background: #444b81;padding: 11px;color: rgb(255 255 255 / 50%);;font-size:12px;border-radius: 8px ;">
          All category <ion-icon name="chevron-down" style="
          color: rgb(255 255 255 / 32%);
          position: absolute;
          right: 10px;
          font-size: 18px;
          top: 10px;"></ion-icon>
        </p>

      </div>

      <div class="row" style="padding: 0 35px;">

        <div class="col-6" style="padding:  0 4px;">

          <div style="
        background: #4852859e;
        border-radius: 15px;padding-bottom: 15px">
            <img src="../../../assets/images/svg/1971632.svg" alt="">
            <p style="margin: 0;
  font-size: 10px;
  color: rgb(255 255 255 / 32%);
  letter-spacing: 2px;text-align: center;">Axie infinite</p>
            <p style="margin: 0;
  font-size: 13px;
  color: rgb(255 255 255 / 80%);
  letter-spacing: 1px;text-align: center;">Tally Gallery</p>
            <p style="margin: 0;
  font-size: 10px;
  color: rgb(255 255 255 / 32%);
  text-align: center;">#ffssasas5554</p>
          </div>


        </div>

        <div class="col-6" style="padding:  0 4px;">

          <div style="
        background: #4852859e;
        border-radius: 15px;padding-bottom: 15px">
            <img src="../../../assets/images/svg/1979205.svg" alt="">
            <p style="margin: 0;
  font-size: 10px;
  color: rgb(255 255 255 / 32%);
  letter-spacing: 2px;text-align: center;">Axie infinite</p>
            <p style="margin: 0;
  font-size: 13px;
  color: rgb(255 255 255 / 80%);
  letter-spacing: 1px;text-align: center;">Tally Gallery</p>
            <p style="margin: 0;
  font-size: 10px;
  color: rgb(255 255 255 / 32%);
  text-align: center;">#ffssasas5554</p>
          </div>


        </div>
      </div>

    </div>
  </div>


</ion-content>