<div style="width: 60%;position: relative; left: 38%;height: 100%;">
  <div style="margin-top: 25%;">
    <p style="color: #F7F8FB; font-size: 23px;font-weight: 500; line-height: 1;margin-bottom: 10px;">CriptoPOAP
    </p>
    <p style="font-size: 14px;font-weight: 500;color: #ffffffce; margin-top: 0;">
      CriptoPOAP.com </p>
  </div>
  <div style="color: #F7F8FB;line-height: 3;">
    <ul style="padding-left: 12px;">
      <li style="list-style: none;">
        <a href="javascript:void(0)" (click)="viewkey()" style="text-decoration: none; color:#F7F8FB; font-size: 12px;" >
          <ion-icon name="shield-checkmark" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
          </ion-icon>My wallet
        </a>

      </li>
  <!--     <li style="list-style: none;">
        <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 12px;" >
          <ion-icon name="lock-closed" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
          </ion-icon> Politicas de privacidad 
        </a>

      </li> -->
   <!--    <li style="list-style: none;">
  
        <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 12px;">
          <ion-icon name="information-circle" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
          </ion-icon>Terminos y condiciones 
        </a>
      </li> -->

     <!--  <li style="list-style: none;">
  
        <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 12px;"  (click)="cerrarSesion()">
          <ion-icon name="power" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
          </ion-icon>
          Log out
        </a>
      </li> -->

  <!--     <ion-picker></ion-picker>  -->
    </ul>
  </div>

<!--   <div style="color: #F7F8FB;position: absolute;bottom: 10%;">
    <ul style="padding-left: 12px;">
      <li style="list-style: none;" (click)="cerrarSesion()">
        <a href="javascript:void(0)" style="text-decoration: none; color:#f7f8fb88; font-size: 12px;">
          <ion-icon name="arrow-back-circle" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
          </ion-icon> Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
 -->


</div>